@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");
@import url("hamburgers.min.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  font-size: 16px;

}
:root {
  --main-color: #0f4a96;
  --second-color: #222;
  --third-color: #fff;
  --var-ORANGE: #ed6b3d;
  --var-BLUE: #0f4a96;
  --var-GRAY: #d0ccd0;
  --fifth-color:  #0f4a96 ;
	--sixth-color: #fff;
}
html {
  scroll-behavior: smooth;
} /* navbar style */
.navbar {
  position: fixed;
  width: 100%;
  padding: 15px 0;
  transition: all 0.3s ease;
  font-family: "Ubuntu", sans-serif;
  z-index: 999;
  font-size: 16px;
  background: var(--main-color);
}
.sticky {
  padding: 15px 0;
  background: var(--main-color);
}
.navbar__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1300px;
  padding: 0 50px;
  margin: auto;
}
.navbar__logo{
 z-index: 1000;
}
.navbar__logo--a {
  font-size: 35px;
  color: var(--third-color);
  font-weight: 600;
  
}
.navbar__logo--span {
  color: var(--main-color);
}
.navbar__logo--spanW {
  color: var(--third-color);
}
.navbar__link {
  list-style: none;
  display: inline-block;
}
.navbar__link--a {
  border: none;
  outline: none;
  font-size: 1rem;
  width: fit-content;
  padding: 1rem 3.5rem 1rem 3.5rem;
  border-radius: 3rem;
  transition: all 3s cubic-bezier(0.19, 1, 0.22, 1);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
  color: #fff;
  font-weight: 500;
  padding: 10px 20px;
  margin-top: 40px; 
  border: 2px solid var(--main-color);
  text-align: center;
}
.navbar__link--a:hover {
  outline: solid 1px  ;
  box-shadow: inset 0 0 10px var(--var-ORANGE);
  outline-color: rgba(49, 138, 172, 0);
  outline-offset: 20px;
  text-shadow: 1px 1px 6px #fff;
}
.navbar__link--white {
  border: none;
  outline: none;
  font-size: 1rem;
  width: fit-content;
  padding: 1rem 3.5rem 1rem 3.5rem;
  border-radius: 3rem;
  transition: all 3s cubic-bezier(0.19, 1, 0.22, 1);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
  color: #fff;
  font-weight: 500;
  padding: 10px 20px;
  margin-top: 40px; 
  border: 2px solid var(--main-color);
  text-align: center;
} 
.navbar__link--white:hover {
  outline: solid 1px  ;
  box-shadow: inset 0 0 10px var(--var-ORANGE);
  outline-color: rgba(49, 138, 172, 0);
  outline-offset: 20px;
  text-shadow: 1px 1px 6px #fff;
  
}

/* hambur */
.is-active {
  transform: translate(0, 0);
}
.logo-menu{
  width: 40px;
  height: 40px;
}
#panel-btn {
  position: fixed;
  z-index: 999;
  top: 2vh;
  right: 1vw;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
  cursor: pointer;
  display: none;
  color: #fff;
} /* home section */
.home {
  display: flex;
  color: #fff;
  min-height: 500px;
  font-family: "Ubuntu", sans-serif;
  height: 100vh;
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgb(255, 255, 255, 0.5)) ,url(./background-home.jpg);
  /* background: url(./background-home.jpg); */
  background-position: center;
  background-size: cover;
}
.home__container {
  margin: auto;
  max-width: 1300px;  
  display: flex;
  justify-content:end;
  align-items:center;

}
.title{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  height: 16rem;
 
}
.title__logo{
  width: 100%;
  height: auto;
}

.firstvh__button{
  border: none;
  outline: none;
  background-color: var(--var-BLUE); 
  font-size: 1.2rem;
  width: fit-content;
  padding: 1rem 3.5rem 1rem 3.5rem;
  border-radius: 3rem;
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
  color: #fff;
  font-weight: 500;
  padding: 10px 20px;
  margin-top: 40px; 
  border: 2px solid var(--main-color);
  /* transition: all 0.3s ease; */
  text-align: center;
}
.firstvh__button:hover {
  outline: 1px solid;
  outline-color: var(--var-ORANGE);
  box-shadow: inset 0 0 20px var(--var-ORANGE);
  outline-color: rgba(49, 138, 172, 0);
  outline-offset: 40px;
  text-shadow: 1px 1px 6px #fff;
}
/* Boton compartir RRSS */
.share-button{
  width: 220px;
  height:40px;
  background-color: transparent;
  border-radius: 40px;
  display: flex;
  flex-direction:row;
  
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: .9s linear;
  left: 2vw;
 
  position: fixed;
  z-index: 999;
  bottom: 1.5vh;
}
.share-button:hover{
  background-color: var(--var-GRAY);
  transition-delay:.3s linear;
} 

.share-button a{
  
  font-size: 1.4rem;
  color:var(--fifth-color);
  text-align: center;
  padding-left: 20px;
  transform:translateX(-130%);  
  opacity:0;
  transition:.5s linear; 

}
.share-button a i:hover{
  transform:scale(1.2)
} 

.share-button span{
  width: 50px;
  height: 50px;
  font-size: 1.5rem;
  left: 0;
  position: absolute;
  background-color: var(--fifth-color);
  color:var(--sixth-color);
  display:flex;
  justify-content: center;
  align-items: center;
  z-index:999;
  transition: .6s linear;
  border-radius: 50%;
   
}

.share-button:hover span{
  transform: translateY(0);
  
}

.share-button:hover a{
  transform:translateX(10%);
  opacity:1;
  

}
.share-button a:nth-of-type(1){
  transition-delay:.8s;

}
.share-button a:nth-of-type(2){
  transition-delay:.6s;
}
.share-button a:nth-of-type(3){
  transition-delay:.4s;
}
.share-button a:nth-of-type(4){
  transition-delay:.2s;
 
}


 /* about section */
section {
  padding: 100px 0;
}
/* services section */
.service {
  font-family: "Poppins", sans-serif;
  padding-left: 10px;
  padding-right: 10px;
  background: var(--third-color);
  color: var(--second-color);
}
.service__title {
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
  position: relative;
}
.service__title::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 240px;
  height: 3px;
  background:var(--var-ORANGE);
  transform: translateX(-50%);
}

.service__content {
  display: grid;
  align-items: center;
  justify-content: space-between;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
  max-width: 1300px;
  margin: auto;
;
}
.service__content--card {
  background: #fff;
  border: 1px solid var(--main-color);
  text-align: center;
  border-radius: 6px;
  padding: 20px 10px;
  min-height: 500px;
 margin-bottom: 5px;
 
}
.service__content--card:hover {
  background: var(--main-color);
}
.service__content--card i {
  color: var(--main-color);
  font-size: 50px;
  padding-bottom: 10px;
  transition: color 0.3s ease;
}
.service__content--card:hover i, .service__content--card:hover p, .service__content--card:hover .text {
  color: #f1f1f1;
}

.service__content--card .text {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 10px 0 7px 0;
  padding-bottom: 10px;
  color: var(--second-color)
}
.service__content--card .box {
  transition: all 0.3s ease;
  
}
.service__content--card p {
  color: var(--second-color)  ;

}

.service__content--card .box:hover {
  transform: scale(1.05);
 
} 
 /* portfolio/portfolio */
.portfolio {
  font-family: "Poppins", sans-serif;
  padding-left: 10px;
  padding-right: 10px;
  background: var(--third-color);
  color: var(--second-color);
padding-bottom: 50px;
}
.portfolio__title {
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
  position: relative;
}
.portfolio__title::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 240px;
  height: 3px;
  background:var(--var-ORANGE);
  transform: translateX(-50%);
}

.portfolio__container--carousel {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2px;
  max-width: 1300px;
  margin: auto;
}
.portfolio__container--carousel .card {
  background:var(--third-color);
  border-radius: 6px;
  padding: 25px 35px;
  text-align: center;
  transition: all 0.3s ease;
}
.portfolio__container--carousel .card:hover {
  background: var(--main-color);
}
.portfolio__container--carousel .card:hover .box {
  transform: scale(1.05);
  color:#f1f1f1;
}
.portfolio__container--carousel .card .text {
  font-size: 25px;
  font-weight: 600;
  margin: 10px 0 7px 0;
}
.portfolio__container--carousel .card p {
  font-size: 1rem;  
  margin: 10px 0 7px 0;
}
.portfolio__container--carousel .card img {
  height: 250px;
  width: 250px;
  object-fit: cover;
  border-radius: 20%;
  border: 5px solid var( --var-ORANGE);
  transition: all 0.3s ease;
  cursor: pointer;
}
.portfolio__container--carousel .card:hover img {
  border: 5px solid #fff;
  cursor: pointer;
}
.portfolio__container--carousel .card a {
  color: #fff;
  font-size: 30px;
  cursor: pointer;
}
 /* contact me section */
 .contact {
  font-family: "Poppins", sans-serif;
  padding-left: 10px;
  padding-right: 10px;
 padding-top: 50px;
}

.contact__title {
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 50px;
  padding-bottom: 20px;
  position: relative;
}
.contact__title::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 180px;
  height: 3px;
  background: var( --var-ORANGE);
  transform: translateX(-50%);
}
.contact__title::after {
 
  position: absolute;
  bottom: -12px;
  left: 50%;
  color: var(--main-color);
  background: #fff;
  transform: translateX(-50%);
  padding: 5px;
  font-size: 20px;
}
.contact__container {
  position: relative;
  max-width: 1300px;
  margin: auto;
}
.form__content {
  display: grid;
  align-items: center;
  justify-content: space-between;
  grid-template-columns: repeat(
    auto-fit,
    minmax(250px, 1fr)
  ); /* tenia 380,1fr */
  gap: 10px;
  margin-top: -10px;
}
.form__content--1,
.main {
  margin-left: 20px;
  margin-right: 20px;
}
.form__content--1 .text {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}
.form__content--1 p {
  text-align: justify;
}
.form__content--1 .icons {
  margin: 10px 0;
}
.form__content--1 .row {
  display: flex;
  height: 65px;
  align-items: center;
}
.form__content--1 .row .info {
  margin-left: 30px;
}
.form__content--1 .row i {
  font-size: 25px;
  color: var(--main-color);
}
.form__content--1 .icons .row .icon:hover{
  font-size: 30px;
  
}
.form__content--1 .info .head {
  font-weight: 600;
} /* form import */
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 90%;
  text-align: left;
}
.main__form {
  padding: 5px 5px;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  position: relative;
}
.main__form .text {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 20px;
  margin-top: 30px;
}
.form-label {
  display: inline-block;
  color: var(--main-color);
  margin-top: 10px;
  font-size: 18px;
  position: relative;
  margin-left: 15px;
  top: -40px;
  z-index: -50;
  transition: all 0.5s;
  width: 90%;
}
.form-js {
  display: inline-block;
  color: #222;
  margin-top: 10px;
  font-size: 18px;
  position: relative;
  transition: all 0.5s;
  top: -70px;
  z-index: 1;
  text-align: left;
  width: 90%;
}
.formulario__items {
  background: transparent;
  border: none;
  font-size: 18px;
  color: #222;
  border-radius: 2px;
  padding: 8px;
  border-bottom: 2px solid var(--main-color);
  border-right: 2px solid var(--main-color);
  border-radius: 5px;
  width: 90%;
  outline: 0;
}
.formulario__items:focus + .form-label {
  z-index: 1;
  font-weight: 100;
  top: -70px;
}
.formulario__mensaje {
  background: transparent;
  border: none;
  font-size: 18px;
  color: #222;
  border-radius: 5px;
  padding: 12px;
  border-bottom: 2px solid var(--main-color);
  border-right: 2px solid var(--main-color);
  resize: none;
  width: 90%;
  outline: 0;
}
.mensaje {
  display: block;
  color: var(--var-BLUE);
  margin-top: 10px;
  font-size: 18px;
  position: relative;
  transition: all 0.5s;
  z-index: -50;
  top: -140px;
}
.mensaje-js {
  text-align: left;
  display: block;
  color: var(--var-BLUE);
  margin-top: 10px;
  font-size: 18px;
  position: relative;
  transition: all 0.5s;
  z-index: 1;
  top: -160px;
}
.formulario__mensaje:focus + .mensaje {
  z-index: 1;
  font-weight: 100;
  top: -160px;
}
.form__button {
  border: none;
  outline: var(--var-BLUE);
  background-color: var(--var-BLUE); 
  font-size: 1.2rem;
  width: 50%;
  padding: 1rem 3.5rem 1rem 3.5rem;
  border-radius: 3rem;
  transition: all 2s cubic-bezier(0.19, 1, 0.22, 1);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
  color: #fff;
  font-weight: 500;
  padding: 10px 20px;
  margin-top: 40px; 
  border: 2px solid var(--main-color);
  /* transition: all 0.3s ease; */
  text-align: center;
}
.form__button:hover {
  outline: 1px solid;
  outline-color: var(--var-ORANGE);
  box-shadow: inset 0 0 10px var(--var-ORANGE);
  outline-color: rgba(49, 138, 172, 0);
  outline-offset: 40px;
  border:1px solid var(--var-BLUE); 
  text-shadow: 1px 1px 6px #fff;
} /* footer section */
footer {
  background: #111;
  padding: 20px 23px;
  color: #fff;
  text-align: center;
}
footer .name {
  color: var(--main-color);
  font-size: 20px;
}
footer .rsss {
  margin-bottom: 10px;
}
footer .copyright {
  margin-top: 10px;
}
footer .rrss a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  padding: 20px;
}
footer .rrss a [title] {
  color: #fff;
  background: none;
}

/* scroll */
.scroll-top-btn {
  position: fixed;
  z-index: 1000;
  bottom: 1vh;
  width: 3rem;
  height: 3rem;
  right: 2vw;
  background-color: var(--main-color);
  border-radius: 50%;
  border: 2px solid #fff;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;

}
.scroll-top-btn:hover {
  background-color: var(--third-color);
  color: var(--main-color);
  border: 2px solid var(--main-color);
}
.hidden {
  opacity: 0;
  visibility: hidden;
}
 
@media (max-width: 768px) {
  .navbar__container {
    padding: 0 10px;
  }
  .navbar__link--a {
    font-size: 18px;
    font-weight: 450;
    margin-left: 10px;
    transition: color 0.3s ease;
  }
  .navbar__link--white {
    font-size: 18px;
    font-weight: 450;
    margin-left: 10px;
    transition: color 0.3s ease;
  }
 
  .about__content--1 img {
    height: 350px;
    width: 250px;
    object-fit: cover;
    border-radius: 6px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 604px) {
  .navbar__container {
    padding: 0 10px;
  }
  .menu {
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: var(--main-color);;
    right: -100%;
    bottom: 0;
    text-align: center;
    padding-top: 80px;
    transition: all 0.3s ease;
  }
  .menu--active {
    padding-top:150px;
    right: 0;
  }
  .navbar__link {
    display: block;
  }
  .navbar__link--a {
    display: inline-block;
    margin: 20px 0;
    font-size: 25px;
  }
  .navbar__link--a:hover {
    color: var(--main-color);
  }
  .navbar__link--white {
    display: inline-block;
    margin: 20px 0;
    font-size: 25px;
    margin-left: 10px;
  }
  .navbar__link--white:hover {
    color: var(--main-color);
  }
  #panel-btn {
    display: block;
    top: 2vh;
    right: 2.5vw;
  }
  .fas {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .home{
    color:#ed6b3d;
  }
  .about__content--1 img {
    height: 350px;
    width: 250px;
    object-fit: cover;
    border-radius: 6px;
  }
  .service__content--card {
    min-height: 300px;
  }
}
@media (max-width: 380px) {
  .mensaje {
    display: block;
    color: var(--main-color);
    margin-top: 10px;
    font-size: 18px;
    position: relative;
    transition: all 0.5s;
    z-index: -50;
    top: -140px;
  }
  .mensaje-js {
    text-align: left;
    display: block;
    color: #222;
    margin-top: 10px;
    font-size: 18px;
    position: relative;
    transition: all 0.5s;
    z-index: 1;
    top: -160px;
  }
  .formulario__mensaje:focus + .mensaje {
    z-index: 1;
    font-weight: 100;
    top: -160px;
  }
  .content {
    width: 90%;
    height: auto;
  }
  .header h2 {
    color: #fff;
    margin: 20px auto;
    padding: 0;
    font-weight: 500px;
    text-align: center;
  }
  .fa-check {
    margin: 30px 0 0 130px;
  }
  .content p {
    padding: 30px 5px;
    font-size: 12px;
  }
  .close-btn {
    position: absolute;
    bottom: 10px;
    right: 10px;
    border-radius: 5px;
    cursor: pointer;
    padding: 8px 10px;
    font-size: 12px;
  }
}
@media (min-width: 1040px) {
  .about__content {
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  }
  .about__content--1 img {
    height: 600px;
    width: 450px;
  }
  .about__content--2 {
    margin: 20px 20px;
  }
  .about__content--2 div {
    font-size: 30px;
  }
} 
.contact__container .center .content {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}
.content {
  width: 400px;
  height: 350px;
  background: #222;
  border-radius: 5px;
  box-shadow: 0 2px 12px 0 lightgrey;
  color: #fff;
  transition: 0.3s ease-in;
}
.content__hide {
  display: none;
}
.header {
  height: 68px;
  background: var(--main-color);
  overflow: hidden;
  border-radius: 3px 3px 0 0;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
}
.header h2 {
  color: #fff;
  padding-left: 80px;
  font-weight: 500px;
  padding-top: 20px;
}
.fa-check {
  color: var(--main-color);
  font-size: 50px;
  font-weight: bold;
  cursor: pointer;
  height: 80px;
  width: 80px;
  border: 2px solid var(--main-color);
  text-align: center;
  margin: 30px 0 0 160px;
  padding-top: 13px;
  box-sizing: border-box;
  border-radius: 50%;
}
.content p {
  padding: 20px 5px;
  font-size: 19px;
  text-align: center;
}
.bigFont {
  font-size: 25px;
  color: var(--main-color);
}
.line {
  bottom: 60px;
  width: 100%;
  height: 1px;
  background: silver;
}
.close-btn {
  position: absolute;
  bottom: 12px;
  right: 25px;
  border-radius: 5px;
  cursor: pointer;
  padding: 8px 10px;
  border: 1px solid var(--main-color);
  display: inline-block;
  color: #fff;
  background-color: var(--main-color);
  transition: all 0.3s ease;
}
.close-btn:hover {
  color: var(--main-color);
  background: none;
}
